body {
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;
  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.page-header {
  position: relative;
  padding: 15px 72px;
}
.main-nav {
  font-weight: bold;
  color: #000000;
}

.main-nav__logo {
  position: absolute;
  left: 50%;
  top: 0;
  margin-left: -70px;
}

.page-main__logo-wrapper {
  margin-bottom: 60px;
  padding-top: 76px;
  padding-bottom: 79px;
  background:
    url("../img/polygon.svg") no-repeat 0 100%,
    #2d3b3f url("../img/bg.jpg") no-repeat 0 -56px;
}

.page-main__logo {
  display: block;
  margin: 0 auto;
}

.site-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.site-list__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 430px;
}

.site-list__wrapper--first .site-list__link:nth-child(odd) {
  margin-right: 112px;
}

.site-list__wrapper--last {
  text-align: right;
}

.site-list__wrapper--last .site-list__link:nth-child(even) {
  margin-left: 117px;
}

.site-list__link {
  min-width: 128px;
  color: #000000;
}

.site-list__link:hover,
.site-list__link:focus {
  color: #81b3d2;
}

.site-list__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.site-list__link--active {
  color: #766357;
}

.advantages {
  margin-bottom: 50px;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
}

.advantages__title {
  margin: 0 auto;
  margin-bottom: 27px;
  width: 576px;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.advantages__intro {
  margin: 0 0 51px;
  padding: 0;
  line-height: 26px;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  background-color: #eeeeee;
}

.advantages__item {
  min-height: 256px;
}

.advantages__item--town {
  order: -2;
  width: 100%;
  color: #ffffff;
  background: #81b3d2 url("../img/town.jpg") no-repeat top 0 right 0;
  background-size: contain;
}

.advantages__item--bridge {
  width: 100%;
  color: #ffffff;
  background: #81b3d2 url("../img/mountains.jpg") no-repeat 0 0;
  background-size: contain;
}

.advantages__item--features {
  order: -1;
  width: 100%;
  background-color: #ffffff;
}

.advantages__wrapper {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding: 47px 47px 58px;
  width: 400px;
}

.advantages__wrapper--town {
  background-color: #81b3d2;
}

.advantages__wrapper--bridge {
  margin-left: 800px;
  background-color: #81b3d2;
}

.advantages__number {
  position: relative;
  margin: 0 auto;
  margin-bottom: 22px;
  width: 20px;
  padding: 0  15px;
}

.advantages__number::before,
.advantages__number::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 9px;
  height: 2px;
  background-color: #333333;
}

.advantages__number::before {
  left: 0;
  margin-top: -1px;
}

.advantages__number::after {
  right: 0;
  margin-top: -1px;
}

.advantages__number--index::before,
.advantages__number--index::after {
  background-color: #ffffff;
}

.advantages__sublist {
  display: flex;
  flex-wrap: wrap;
}

.advantages__sublist-item {
  width: 400px;
  box-sizing: border-box;
  padding: 55px 50px 69px;
}

.advantages__subtitle {
  order: -1;
  margin: 0;
  margin-bottom: 24px;
  font-size: 21px;
  color: #000000;
}

.advantages__subtitle--index {
  color: #ffffff;
}

.advantages__description {
  margin: 0;
}

.advantages__list,
.advantages__sublist {
  margin: 0;
  padding: 0;
  list-style: none;
}

.advantages__subtitle--appartments,
.advantages__subtitle--food,
.advantages__subtitle--souveniers {
  position: relative;
  margin-top: 105px;
}

.advantages__subtitle--appartments::before,
.advantages__subtitle--food::before,
.advantages__subtitle--souveniers::before {
  position: absolute;
  content: "";
  left: 50%;
  bottom: 50px;
  transform: translateX(-50%);

}

.advantages__subtitle--appartments::before {
  width: 75px;
  height: 72px;
  background-image: url("../img/appartments.svg");
  background-repeat: no-repeat;
}

.advantages__subtitle--food::before {
  width: 74px;
  height: 70px;
  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
}

.advantages__subtitle--souveniers::before {
  width: 64px;
  height: 76px;
  background-image: url("../img/souveniers.svg");
  background-repeat: no-repeat;
}

.search {
  position: relative;
  width: 568px;
  margin: 0 auto;
  text-align: center;
}

.search__title {
  display: block;
  margin-bottom: 24px;
  font-size: 30px;
  line-height: 36px;
  color: #000000;
}

.search__intro {
  margin-bottom: 47px;
  line-height: 24px;
}

.search__form {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  width: 100%;
  padding: 55px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.15);
}

.search__item {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0;
  margin-bottom: 30px;
}

.search__form input {
  box-sizing: border-box;
  width: 346px;
  padding: 6px 30px 6px 13px;
  font: inherit;
  background-color: #f2f2f2;
  border: none;
}

.search__form input:hover {
  background-color: #ebebeb;
}

.search__form input:focus {
  background-color: #ffffff;
  outline: 2px solid #e5e5e5;
}

.search__wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 23px;
}

.search__wrapper .search__item {
  width: 226px;
}

.search__wrapper .search__item:nth-child(even) {
  width: 179px;
}

.search__wrapper input {
  width: 114px;
}

.button {
  display: inline-block;
  padding: 3px 16px;
  font-size: 14px;
  font-weight: 700;
  line-height: 21px;
  text-align: center;
  vertical-align: middle;
  text-transform: inherit;
  color: #ffffff;
  border: none;
}

.button-optional {
  background-color: #766357;
}

.button-optional:hover,
.button-optional:focus {
  background-color: #604e43;
}

.button-optional:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search .button {
  padding: 30px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
}

.search .button-main {
  padding-top: 16px;
  padding-bottom: 16px;
}

.map__image {
  display: block;
}

.button-main {
  box-sizing: border-box;
  margin-right: 3px;
  min-width: 110px;
  background-color: #81b3d2;
}

.button-main:hover,
.button-main:focus {
  background-color: #669ec0;
}

.button-main:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.page-footer {
  position: absolute;
  bottom: 0;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 36px 72px;
  background-color: rgba(255, 255, 255, 0.9);
}

.page-footer__call {
  box-sizing: border-box;
  padding-left: 61px;
  padding-right: 45px;
  max-width: 240px;
  font-size: 21px;
  font-weight: 700;
}

.page-footer__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 150px;
  list-style: none;
}

.page-footer__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 46px;
  height: 48px;
  background-color: #81b3d2;
}

.page-footer__link:hover,
.page-footer__link:focus {
  background-color: #669ec0;
}

.page-footer__link:active svg {
  opacity: 0.3;
}

.page-footer__link:active {
  background-color: #5496bd;
}

.page-footer__copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  margin: 0;
  padding-left: 15px;
  padding-right:29px;
  width: 240px;
}

.page-footer__copyright-link {
  display: inline-flex;
}

.page-footer__copyright-link:hover path,
.page-footer__copyright-link:focus path {
  fill: #81b3d2;
}

.page-footer__copyright-link:active path {
  fill: #bdbbbc;
}

.inner-footer {
  position: static;
}

.filter {
  padding: 27px 72px 31px;
  background: #5987af url("../img/filter-bg.jpg") no-repeat 0 -56px;
}

.filter__form {
  display: flex;
  line-height: 21px;
  color: #ffffff;
}

.filter__fieldset {
  margin: 0;
  margin-right: 15px;
  padding: 0;
  min-width: 240px;
  border: none;
}

.filter__title {
  margin-bottom: 25px;
  font-size: 16px;
  font-weight: 700;
}

.filter__list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.filter__item {
  margin: 0;
}

.filter__item:not(:last-child) {
  margin-bottom: 25px;
}

.filter__field {
  position: relative;
  display: inline-flex;
  align-items: center;
  padding-left: 40px;
  cursor: pointer;
}

.filter__field::before {
  position: absolute;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filter__input:checked + .filter__field::before {
  position: absolute;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  border: none;
  background: url("../img/checkbox-on.svg") no-repeat;
}

.filter__input:disabled + .filter__field::before {
  position: absolute;
  left: 0;
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #6a6a6a;
  border-radius: 4px;
}

.filter__input:disabled:checked + .filter__field::before {
  position: absolute;
  left: 0;
  content: "";
  width: 27px;
  height: 23px;
  border: none;
  background: url("../img/checkbox-disabled.svg") no-repeat;
}

.filter__column {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  width: 318px;
}

.filter__column .filter__fieldset {
  margin-right: 0;
  margin-bottom: 20px;
}

.filter__title--price {
  margin-left: 2px;
  margin-bottom: 10px;
}

.filter__wrapper {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 5px 5px 4px;
  width: 318px;
  border: 2px solid #ffffff;
  border-radius: 4px;
}

.filter__index {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding-left: 60px;
  width: 157px;
  box-sizing: border-box;
}

.filter__index:last-child {
  padding-left: 53px;
  border-left: 2px solid #ffffff;
}

.filter__column-item {
  padding-left: 4px;
  width: 100%;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 21px;
  border: none;
  background-color: transparent;
  color: #ffffff;
}

.filter__column-item--min {
  padding-right: 5px;
}

.filter__scale {
  position: relative;
  margin-left: auto;
  margin-bottom: auto;
  width: 317px;
  height: 2px;
}

.filter__scale::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background-color: rgba(255, 255, 255, 0.3);
}

.filter__bar {
  position: absolute;
  content: "";
  margin-left: 15px;
  width: 245px;
  height: 2px;
  background-color: #ffffff;
}

.filter__toggle {
  position: absolute;
  top: 50%;
  content: "";
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: transparent;
  border-radius: 50%;
  box-shadow: 0 2px 5px #ababab;
  transform: translateY(-50%);
  cursor: pointer;
}

.filter__toggle--min {
  left: 0;
}

.filter__toggle--max {
  right: 45px;
}

.filter__toggle:hover {
  transform: translateY(-50%) scale(1.1);
}

.button--hotel {
  margin-left: -10px;
  padding: 6px 35px;
  font-weight: 400;
  border: 2px solid #ffffff;
  border-radius: 4px;
  background-color: transparent;
}

.button--hotel:hover,
.button--hotel:focus {
  color: #000000;
  background-color: #ffffff;
}

.hotels__sort {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
  margin: 0 auto;
  padding: 30px 0;
  width: 1056px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.hotels__amount {
  margin-right: 48px;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
}

.hotels__subtitle {
  margin: 0;
  margin-right: 40px;
  font: inherit;
  color: #000000;
}

.hotels__sort-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.hotels__indicator {
  margin: 0;
  margin-left: auto;
  padding: 0;
  list-style: none;
}

.hotels__sort-item {
  display: inline-block;
  margin-right: 29px;
}

.hotels__sort-link {
  color: rgba(0, 0, 0, 0.3);
  border-bottom: 1px dotted #81b3d2;
}

.hotels__sort-link:hover,
.hotels__sort-link:focus {
  color: #81b3d2;
}

.hotels__sort-link:active {
  color: #000000;
  border: none;
}

.hotels__sort-link--active {
  color: #81b3d2;
  border: none;
}

.hotels__arrow {
  position: relative;
}

.hotels__arrow::before {
  position: absolute;
  content: "";
  border: 6px solid transparent;
  border-bottom-color: #cacaca;
  border-top: none;
  border-right-color: transparent;
  border-left-color: transparent;
  transform: scaleY(1.6);
}

.hotels__arrow--up::before {
  left: 26px;
  top: -8px;
}

.hotels__arrow--down::before {
  left: 18px;
  top: -9px;
  transform: scaleY(1.6) rotate(180deg);
}

.hotels__arrow:hover::before,
.hotels__arrow:focus::before {
  border-bottom-color: #231f20;
}

.hotels__arrow:active::before,
.hotels__arrow--current::before {
  border-bottom-color: #81b3d2;
}

.hotels__list {
  margin: 0;
  padding: 0;
  line-height: 21px;
  list-style: none;
}

.hotels__item {
  border-bottom: 1px solid #e5e5e5;
}

.hotels__item:first-child {
  border-top: 1px solid #e5e5e5;
}

.hotels__container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin: 0 auto;
  padding: 30px 0;
  width: 1056px;
}

.hotels__container::before {
  position: absolute;
  top: 30px;
  right: 0;
  content: "";
  height: 17px;
  background: url("../img/star-2.svg") repeat-x;
}

.hotels__container--5star::before {
  width: 114px;
}

.hotels__container--4star::before {
  width: 90px;
}

.hotels__container--3star::before {
  width: 65px;
}

.hotels__container--2star::before {
  width: 41px;
}

.hotels__container--1star::before {
  width: 18px;
}

.hotels__image-wrapper {
  margin-right: 30px;
}

.hotels__image {
  display: block;
}

.hotels__description {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  max-width: 365px;
}

.hotels__title-link {
  align-self: flex-start;
  margin-bottom: 7px;
}

.hotels__title {
  margin: 0;
  margin-top: -5px;
  width: 100%;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels__title:hover,
.hotels__title:focus {
  color: #81b3d2;
}

.hotels__title:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotels__about,
.hotels__order {
  margin: 0;
}

.hotels__type {
  display: inline-block;
  margin-right: 3px;
  min-width: 110px;
}

.hotels__order {
  margin-top: auto;
}

.hotels__rate{
  margin-left: auto;
  margin-top: auto;
  padding-top: 3px;
  padding-right: 13px;
  padding-bottom: 3px;
  padding-left: 16px;
  background-color: #f2f2f2;
}

.container {
  position: relative;
  margin: 0 auto;
  width: 1200px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 1, 1, 0.2);
}
